USE [master]
GO
/****** Object:  Database [CNB_Ibero]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE DATABASE [CNB_Ibero]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CNB_Ibero', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CNB_Ibero.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CNB_Ibero_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CNB_Ibero_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CNB_Ibero].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CNB_Ibero]
GO
/****** Object:  Schema [bitacoras]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE SCHEMA [bitacoras]
GO
/****** Object:  Schema [catalogos]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE SCHEMA [catalogos]
GO
/****** Object:  Schema [HangFire]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE SCHEMA [HangFire]
GO
/****** Object:  Schema [operacion]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE SCHEMA [operacion]
GO
/****** Object:  Table [operacion].[persona_desaparecida]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [operacion].[persona_desaparecida](
	[id_persona_desaparecida] [bigint] IDENTITY(1,1) NOT NULL,
	[id_correo_raw] [bigint] NOT NULL,
	[folio_unico_identificacion] [nvarchar](100) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[edad_actual] [int] NULL,
	[edad_momento_desaparicion] [int] NULL,
	[sexo] [nvarchar](50) NULL,
	[genero] [nvarchar](50) NULL,
	[nacionalidad] [nvarchar](100) NULL,
	[lugar_nacimiento] [nvarchar](255) NULL,
	[lugar_hechos] [nvarchar](255) NULL,
	[fecha_hechos] [date] NULL,
	[fecha_percate] [date] NULL,
	[caracteristicas_fisicas] [nvarchar](max) NULL,
	[senas_particulares] [nvarchar](max) NULL,
	[prendas_vestir] [nvarchar](max) NULL,
	[autoridades_competentes] [nvarchar](max) NULL,
	[carpeta_investigacion] [nvarchar](100) NULL,
	[idioma] [nvarchar](100) NULL,
	[discapacidad] [nvarchar](max) NULL,
	[estado_procesamiento] [nvarchar](50) NOT NULL,
	[campos_incompletos] [nvarchar](max) NULL,
	[fecha_publicacion_facebook] [datetime2](7) NULL,
	[flag_publicado_facebook] [bit] NOT NULL,
	[intento_publicacion_facebook] [int] NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_actualizacion] [datetime2](7) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_persona_desaparecida] PRIMARY KEY CLUSTERED 
(
	[id_persona_desaparecida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [operacion].[foto_persona]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [operacion].[foto_persona](
	[id_foto_persona] [bigint] IDENTITY(1,1) NOT NULL,
	[id_persona_desaparecida] [bigint] NOT NULL,
	[ruta_disco] [nvarchar](500) NOT NULL,
	[nombre_archivo] [nvarchar](255) NOT NULL,
	[tamano_bytes] [bigint] NOT NULL,
	[tipo_contenido] [nvarchar](100) NULL,
	[id_laserfiche] [nvarchar](20) NULL,
	[principal] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_actualizacion] [datetime2](7) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_foto_persona] PRIMARY KEY CLUSTERED 
(
	[id_foto_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [operacion].[vw_personas_publicables_hoy]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 6. VISTAS ÚTILES
-- ============================================================================

-- Vista: Personas que pueden publicarse hoy
CREATE   VIEW [operacion].[vw_personas_publicables_hoy] AS
SELECT 
    pd.id_persona_desaparecida,
    pd.folio_unico_identificacion,
    pd.nombre,
    pd.edad_actual,
    pd.lugar_hechos,
    pd.caracteristicas_fisicas,
    pd.estado_procesamiento,
    pd.flag_publicado_facebook,
    fp.ruta_disco as ruta_foto,
    CAST(pd.fecha_creacion AS DATE) as fecha_creacion_dia
FROM operacion.persona_desaparecida pd
LEFT JOIN operacion.foto_persona fp ON pd.id_persona_desaparecida = fp.id_persona_desaparecida AND fp.principal = 1 AND fp.activo = 1
WHERE pd.activo = 1 
    AND pd.estado_procesamiento = 'completo'
    AND pd.flag_publicado_facebook = 0
    AND CAST(pd.fecha_creacion AS DATE) = CAST(GETDATE() AS DATE)
GO
/****** Object:  Table [operacion].[correo_raw]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [operacion].[correo_raw](
	[id_correo_raw] [bigint] IDENTITY(1,1) NOT NULL,
	[id_externo] [nvarchar](200) NOT NULL,
	[asunto] [nvarchar](max) NULL,
	[remitente] [nvarchar](255) NULL,
	[destinatario] [nvarchar](255) NOT NULL,
	[cuerpo_correo] [nvarchar](max) NULL,
	[fecha_recepcion] [datetime2](7) NOT NULL,
	[fecha_procesamiento] [datetime2](7) NULL,
	[estado_procesamiento] [nvarchar](50) NOT NULL,
	[mensaje_error] [nvarchar](max) NULL,
	[reintentos] [int] NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_actualizacion] [datetime2](7) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_correo_raw] PRIMARY KEY CLUSTERED 
(
	[id_correo_raw] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [operacion].[vw_correos_pendientes]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista: Resumen de correos sin procesar
CREATE   VIEW [operacion].[vw_correos_pendientes] AS
SELECT TOP (9999999)
    id_correo_raw,
    asunto,
    remitente,
    fecha_recepcion,
    estado_procesamiento,
    reintentos,
    mensaje_error
FROM operacion.correo_raw
WHERE activo = 1 
    AND estado_procesamiento IN ('pendiente', 'incompleto')
ORDER BY fecha_recepcion DESC

GO
/****** Object:  Table [bitacoras].[bitacora_publicacion]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bitacoras].[bitacora_publicacion](
	[id_bitacora_publicacion] [bigint] IDENTITY(1,1) NOT NULL,
	[id_persona_desaparecida] [bigint] NOT NULL,
	[tipo_red_social] [nvarchar](50) NOT NULL,
	[estado_publicacion] [nvarchar](50) NOT NULL,
	[id_publicacion_externa] [nvarchar](max) NULL,
	[fecha_intento] [datetime2](7) NOT NULL,
	[fecha_publicacion_real] [datetime2](7) NULL,
	[mensaje_error] [nvarchar](max) NULL,
	[tipo_publicacion] [nvarchar](50) NOT NULL,
	[usuario_publicador] [nvarchar](255) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_bitacora_publicacion] PRIMARY KEY CLUSTERED 
(
	[id_bitacora_publicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [operacion].[vw_estadisticas_sistema]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista: Estadísticas del sistema
CREATE   VIEW [operacion].[vw_estadisticas_sistema] AS
SELECT 
    (SELECT COUNT(*) FROM operacion.persona_desaparecida WHERE activo = 1) as total_personas,
    (SELECT COUNT(*) FROM operacion.persona_desaparecida WHERE activo = 1 AND estado_procesamiento = 'completo') as personas_completas,
    (SELECT COUNT(*) FROM operacion.persona_desaparecida WHERE activo = 1 AND estado_procesamiento = 'incompleto') as personas_incompletas,
    (SELECT COUNT(*) FROM operacion.persona_desaparecida WHERE activo = 1 AND flag_publicado_facebook = 1) as personas_publicadas,
    (SELECT COUNT(*) FROM operacion.correo_raw WHERE activo = 1 AND estado_procesamiento = 'pendiente') as correos_pendientes,
    (SELECT COUNT(*) FROM bitacoras.bitacora_publicacion WHERE estado_publicacion = 'fallida' AND CAST(fecha_intento AS DATE) = CAST(GETDATE() AS DATE)) as publicaciones_fallidas_hoy
GO
/****** Object:  Table [bitacoras].[bitacora_general]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bitacoras].[bitacora_general](
	[id_bitacora_general] [bigint] IDENTITY(1,1) NOT NULL,
	[tipo_accion] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[id_correo_raw] [bigint] NULL,
	[id_persona_desaparecida] [bigint] NULL,
	[usuario] [nvarchar](255) NULL,
	[ip_origen] [nvarchar](50) NULL,
	[estado_accion] [nvarchar](50) NOT NULL,
	[mensaje_error] [nvarchar](max) NULL,
	[fecha_accion] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_bitacora_general] PRIMARY KEY CLUSTERED 
(
	[id_bitacora_general] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [catalogos].[configuracion_sistema]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalogos].[configuracion_sistema](
	[id_configuracion] [bigint] IDENTITY(1,1) NOT NULL,
	[clave] [nvarchar](100) NOT NULL,
	[valor] [nvarchar](max) NOT NULL,
	[tipo_valor] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
	[editable] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_actualizacion] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_configuracion_sistema] PRIMARY KEY CLUSTERED 
(
	[id_configuracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[AggregatedCounter]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[AggregatedCounter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [bigint] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_CounterAggregated] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Counter]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Counter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL,
	[ExpireAt] [datetime] NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_HangFire_Counter] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Hash]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Hash](
	[Key] [nvarchar](100) NOT NULL,
	[Field] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime2](7) NULL,
 CONSTRAINT [PK_HangFire_Hash] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Job]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Job](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StateId] [bigint] NULL,
	[StateName] [nvarchar](20) NULL,
	[InvocationData] [nvarchar](max) NOT NULL,
	[Arguments] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobParameter]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobParameter](
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_JobParameter] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobQueue]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobQueue](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Queue] [nvarchar](50) NOT NULL,
	[FetchedAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_JobQueue] PRIMARY KEY CLUSTERED 
(
	[Queue] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[List]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[List](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_List] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Schema]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Schema](
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_HangFire_Schema] PRIMARY KEY CLUSTERED 
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Server]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Server](
	[Id] [nvarchar](200) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[LastHeartbeat] [datetime] NOT NULL,
 CONSTRAINT [PK_HangFire_Server] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Set]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Set](
	[Key] [nvarchar](100) NOT NULL,
	[Score] [float] NOT NULL,
	[Value] [nvarchar](256) NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Set] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[State]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[State](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Reason] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_State] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [operacion].[archivo_correo]    Script Date: 10/09/2026 02:07:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [operacion].[archivo_correo](
	[id_archivo_correo] [bigint] IDENTITY(1,1) NOT NULL,
	[id_correo_raw] [bigint] NOT NULL,
	[nombre_archivo] [nvarchar](255) NOT NULL,
	[ruta_disco] [nvarchar](500) NOT NULL,
	[tamano_bytes] [bigint] NOT NULL,
	[tipo_contenido] [nvarchar](100) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_actualizacion] [datetime2](7) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_archivo_correo] PRIMARY KEY CLUSTERED 
(
	[id_archivo_correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [catalogos].[configuracion_sistema] ON 

INSERT [catalogos].[configuracion_sistema] ([id_configuracion], [clave], [valor], [tipo_valor], [descripcion], [editable], [fecha_creacion], [fecha_actualizacion]) VALUES (1, N'informacion_contacto', N'Si tienes información que ayude a la localización de alguna Persona Desaparecida o No Localizada, comunícate desde México al número telefónico 800 028 7783 o WhatsApp 55 1309 9024 y proporciona toda la información que tengas.', N'texto', N'Mensaje de contacto a mostrar en publicaciones', 1, CAST(N'2026-05-25T23:15:05.6800000' AS DateTime2), CAST(N'2026-05-25T23:15:05.6800000' AS DateTime2))
INSERT [catalogos].[configuracion_sistema] ([id_configuracion], [clave], [valor], [tipo_valor], [descripcion], [editable], [fecha_creacion], [fecha_actualizacion]) VALUES (2, N'hora_publicacion_facebook', N'08:00:00', N'hora', N'Hora del día para publicar automáticamente en Facebook (HH:MM:SS)', 1, CAST(N'2026-05-25T23:15:05.6800000' AS DateTime2), CAST(N'2026-05-25T23:15:05.6800000' AS DateTime2))
INSERT [catalogos].[configuracion_sistema] ([id_configuracion], [clave], [valor], [tipo_valor], [descripcion], [editable], [fecha_creacion], [fecha_actualizacion]) VALUES (3, N'habilitar_publicacion_automatica', N'true', N'booleano', N'Habilitar publicación automática en Facebook', 1, CAST(N'2026-05-25T23:15:05.6800000' AS DateTime2), CAST(N'2026-05-25T23:15:05.6800000' AS DateTime2))
SET IDENTITY_INSERT [catalogos].[configuracion_sistema] OFF
GO
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:deleted', 1, NULL)
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:failed:2026-08-07', 1, CAST(N'2026-09-07T23:23:57.307' AS DateTime))
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:failed:2026-08-22', 1, CAST(N'2026-09-22T22:26:49.800' AS DateTime))
GO
SET IDENTITY_INSERT [HangFire].[Counter] ON 

INSERT [HangFire].[Counter] ([Key], [Value], [ExpireAt], [Id]) VALUES (N'stats:succeeded', 1, NULL, 1366)
INSERT [HangFire].[Counter] ([Key], [Value], [ExpireAt], [Id]) VALUES (N'stats:succeeded', 1, NULL, 1369)
INSERT [HangFire].[Counter] ([Key], [Value], [ExpireAt], [Id]) VALUES (N'stats:succeeded:2026-09-06', 1, CAST(N'2026-10-06T19:30:57.567' AS DateTime), 1367)
SET IDENTITY_INSERT [HangFire].[Counter] OFF
GO
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:actualizar-schedules', N'CreatedAt', N'1779986795078', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:actualizar-schedules', N'Cron', N'0 0 * * *', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:actualizar-schedules', N'Job', N'{"t":"Ibero.CnbAutomatizacion.API.Jobs.ActualizarJobsScheduleJob, Ibero.CnbAutomatizacion.API","m":"Ejecutar"}', NULL)
GO
INSERT [HangFire].[Schema] ([Version]) VALUES (9)
GO
INSERT [HangFire].[Server] ([Id], [Data], [LastHeartbeat]) VALUES (N'fsa-envy:11344:99a1d842-354a-4744-9d36-35c4b5507cd3', N'{"WorkerCount":20,"Queues":["default"],"StartedAt":"2026-09-05T00:51:29.5823924Z"}', CAST(N'2026-09-06T19:31:04.027' AS DateTime))
GO
INSERT [HangFire].[Set] ([Key], [Score], [Value], [ExpireAt]) VALUES (N'recurring-jobs', 1788739200, N'actualizar-schedules', NULL)
INSERT [HangFire].[Set] ([Key], [Score], [Value], [ExpireAt]) VALUES (N'recurring-jobs', 1788724200, N'ingesta-correos', NULL)
INSERT [HangFire].[Set] ([Key], [Score], [Value], [ExpireAt]) VALUES (N'recurring-jobs', 1788768000, N'publicacion-diaria-facebook', NULL)
GO
/****** Object:  Index [ix_bitacora_general_fecha_accion]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_bitacora_general_fecha_accion] ON [bitacoras].[bitacora_general]
(
	[fecha_accion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_bitacora_general_id_correo]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_bitacora_general_id_correo] ON [bitacoras].[bitacora_general]
(
	[id_correo_raw] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_bitacora_general_id_persona]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_bitacora_general_id_persona] ON [bitacoras].[bitacora_general]
(
	[id_persona_desaparecida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_bitacora_general_tipo_accion]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_bitacora_general_tipo_accion] ON [bitacoras].[bitacora_general]
(
	[tipo_accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_bitacora_publicacion_estado]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_bitacora_publicacion_estado] ON [bitacoras].[bitacora_publicacion]
(
	[estado_publicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_bitacora_publicacion_fecha_intento]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_bitacora_publicacion_fecha_intento] ON [bitacoras].[bitacora_publicacion]
(
	[fecha_intento] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_bitacora_publicacion_id_persona]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_bitacora_publicacion_id_persona] ON [bitacoras].[bitacora_publicacion]
(
	[id_persona_desaparecida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_bitacora_publicacion_tipo_red]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_bitacora_publicacion_tipo_red] ON [bitacoras].[bitacora_publicacion]
(
	[tipo_red_social] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__configur__71DCA3DB7050DB3F]    Script Date: 10/09/2026 02:07:14 p. m. ******/
ALTER TABLE [catalogos].[configuracion_sistema] ADD UNIQUE NONCLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_configuracion_clave]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_configuracion_clave] ON [catalogos].[configuracion_sistema]
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_AggregatedCounter_ExpireAt]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_AggregatedCounter_ExpireAt] ON [HangFire].[AggregatedCounter]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Hash_ExpireAt]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Hash_ExpireAt] ON [HangFire].[Hash]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Job_ExpireAt]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Job_ExpireAt] ON [HangFire].[Job]
(
	[ExpireAt] ASC
)
INCLUDE([StateName]) 
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HangFire_Job_StateName]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Job_StateName] ON [HangFire].[Job]
(
	[StateName] ASC
)
WHERE ([StateName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_List_ExpireAt]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_List_ExpireAt] ON [HangFire].[List]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Server_LastHeartbeat]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Server_LastHeartbeat] ON [HangFire].[Server]
(
	[LastHeartbeat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Set_ExpireAt]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Set_ExpireAt] ON [HangFire].[Set]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HangFire_Set_Score]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Set_Score] ON [HangFire].[Set]
(
	[Key] ASC,
	[Score] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_State_CreatedAt]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_State_CreatedAt] ON [HangFire].[State]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uk_archivo_correo_ruta]    Script Date: 10/09/2026 02:07:14 p. m. ******/
ALTER TABLE [operacion].[archivo_correo] ADD  CONSTRAINT [uk_archivo_correo_ruta] UNIQUE NONCLUSTERED 
(
	[ruta_disco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_archivo_correo_activo]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_archivo_correo_activo] ON [operacion].[archivo_correo]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_archivo_correo_id_correo_raw]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_archivo_correo_id_correo_raw] ON [operacion].[archivo_correo]
(
	[id_correo_raw] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uk_correo_raw_id_externo]    Script Date: 10/09/2026 02:07:14 p. m. ******/
ALTER TABLE [operacion].[correo_raw] ADD  CONSTRAINT [uk_correo_raw_id_externo] UNIQUE NONCLUSTERED 
(
	[id_externo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_correo_raw_activo]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_correo_raw_activo] ON [operacion].[correo_raw]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_correo_raw_estado_procesamiento]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_correo_raw_estado_procesamiento] ON [operacion].[correo_raw]
(
	[estado_procesamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_correo_raw_fecha_recepcion]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_correo_raw_fecha_recepcion] ON [operacion].[correo_raw]
(
	[fecha_recepcion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uk_foto_persona_ruta]    Script Date: 10/09/2026 02:07:14 p. m. ******/
ALTER TABLE [operacion].[foto_persona] ADD  CONSTRAINT [uk_foto_persona_ruta] UNIQUE NONCLUSTERED 
(
	[ruta_disco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_foto_persona_activo]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_foto_persona_activo] ON [operacion].[foto_persona]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_foto_persona_id_persona]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_foto_persona_id_persona] ON [operacion].[foto_persona]
(
	[id_persona_desaparecida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_foto_persona_principal]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_foto_persona_principal] ON [operacion].[foto_persona]
(
	[principal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__persona___3826DC07AACC13C7]    Script Date: 10/09/2026 02:07:14 p. m. ******/
ALTER TABLE [operacion].[persona_desaparecida] ADD UNIQUE NONCLUSTERED 
(
	[folio_unico_identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_persona_desaparecida_activo]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_persona_desaparecida_activo] ON [operacion].[persona_desaparecida]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_persona_desaparecida_estado]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_persona_desaparecida_estado] ON [operacion].[persona_desaparecida]
(
	[estado_procesamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_persona_desaparecida_fecha_creacion]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_persona_desaparecida_fecha_creacion] ON [operacion].[persona_desaparecida]
(
	[fecha_creacion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_persona_desaparecida_fecha_hechos]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_persona_desaparecida_fecha_hechos] ON [operacion].[persona_desaparecida]
(
	[fecha_hechos] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_persona_desaparecida_flag_publicado]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_persona_desaparecida_flag_publicado] ON [operacion].[persona_desaparecida]
(
	[flag_publicado_facebook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_persona_desaparecida_folio]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_persona_desaparecida_folio] ON [operacion].[persona_desaparecida]
(
	[folio_unico_identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_persona_desaparecida_lugar_hechos]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_persona_desaparecida_lugar_hechos] ON [operacion].[persona_desaparecida]
(
	[lugar_hechos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_persona_desaparecida_nombre]    Script Date: 10/09/2026 02:07:14 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_persona_desaparecida_nombre] ON [operacion].[persona_desaparecida]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [bitacoras].[bitacora_general] ADD  DEFAULT (getdate()) FOR [fecha_accion]
GO
ALTER TABLE [bitacoras].[bitacora_publicacion] ADD  DEFAULT (getdate()) FOR [fecha_intento]
GO
ALTER TABLE [bitacoras].[bitacora_publicacion] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [catalogos].[configuracion_sistema] ADD  DEFAULT ((1)) FOR [editable]
GO
ALTER TABLE [catalogos].[configuracion_sistema] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [catalogos].[configuracion_sistema] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [operacion].[archivo_correo] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [operacion].[archivo_correo] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [operacion].[archivo_correo] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [operacion].[correo_raw] ADD  DEFAULT ('pendiente') FOR [estado_procesamiento]
GO
ALTER TABLE [operacion].[correo_raw] ADD  DEFAULT ((0)) FOR [reintentos]
GO
ALTER TABLE [operacion].[correo_raw] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [operacion].[correo_raw] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [operacion].[correo_raw] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [operacion].[foto_persona] ADD  DEFAULT ((1)) FOR [principal]
GO
ALTER TABLE [operacion].[foto_persona] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [operacion].[foto_persona] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [operacion].[foto_persona] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [operacion].[persona_desaparecida] ADD  DEFAULT ('completo') FOR [estado_procesamiento]
GO
ALTER TABLE [operacion].[persona_desaparecida] ADD  DEFAULT ((0)) FOR [flag_publicado_facebook]
GO
ALTER TABLE [operacion].[persona_desaparecida] ADD  DEFAULT ((0)) FOR [intento_publicacion_facebook]
GO
ALTER TABLE [operacion].[persona_desaparecida] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [operacion].[persona_desaparecida] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [operacion].[persona_desaparecida] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [bitacoras].[bitacora_general]  WITH CHECK ADD  CONSTRAINT [fk_bitacora_general_correo_raw] FOREIGN KEY([id_correo_raw])
REFERENCES [operacion].[correo_raw] ([id_correo_raw])
GO
ALTER TABLE [bitacoras].[bitacora_general] CHECK CONSTRAINT [fk_bitacora_general_correo_raw]
GO
ALTER TABLE [bitacoras].[bitacora_general]  WITH CHECK ADD  CONSTRAINT [fk_bitacora_general_persona] FOREIGN KEY([id_persona_desaparecida])
REFERENCES [operacion].[persona_desaparecida] ([id_persona_desaparecida])
GO
ALTER TABLE [bitacoras].[bitacora_general] CHECK CONSTRAINT [fk_bitacora_general_persona]
GO
ALTER TABLE [bitacoras].[bitacora_publicacion]  WITH CHECK ADD  CONSTRAINT [fk_bitacora_publicacion_persona] FOREIGN KEY([id_persona_desaparecida])
REFERENCES [operacion].[persona_desaparecida] ([id_persona_desaparecida])
GO
ALTER TABLE [bitacoras].[bitacora_publicacion] CHECK CONSTRAINT [fk_bitacora_publicacion_persona]
GO
ALTER TABLE [HangFire].[JobParameter]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_JobParameter_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[JobParameter] CHECK CONSTRAINT [FK_HangFire_JobParameter_Job]
GO
ALTER TABLE [HangFire].[State]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_State_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[State] CHECK CONSTRAINT [FK_HangFire_State_Job]
GO
ALTER TABLE [operacion].[archivo_correo]  WITH CHECK ADD  CONSTRAINT [fk_archivo_correo_correo_raw] FOREIGN KEY([id_correo_raw])
REFERENCES [operacion].[correo_raw] ([id_correo_raw])
GO
ALTER TABLE [operacion].[archivo_correo] CHECK CONSTRAINT [fk_archivo_correo_correo_raw]
GO
ALTER TABLE [operacion].[foto_persona]  WITH CHECK ADD  CONSTRAINT [fk_foto_persona_persona_desaparecida] FOREIGN KEY([id_persona_desaparecida])
REFERENCES [operacion].[persona_desaparecida] ([id_persona_desaparecida])
GO
ALTER TABLE [operacion].[foto_persona] CHECK CONSTRAINT [fk_foto_persona_persona_desaparecida]
GO
ALTER TABLE [operacion].[persona_desaparecida]  WITH CHECK ADD  CONSTRAINT [fk_persona_desaparecida_correo_raw] FOREIGN KEY([id_correo_raw])
REFERENCES [operacion].[correo_raw] ([id_correo_raw])
GO
ALTER TABLE [operacion].[persona_desaparecida] CHECK CONSTRAINT [fk_persona_desaparecida_correo_raw]
GO
ALTER TABLE [bitacoras].[bitacora_general]  WITH CHECK ADD  CONSTRAINT [ck_bitacora_general_estado] CHECK  (([estado_accion]='error' OR [estado_accion]='exitosa' OR [estado_accion]='informativo'))
GO
ALTER TABLE [bitacoras].[bitacora_general] CHECK CONSTRAINT [ck_bitacora_general_estado]
GO
ALTER TABLE [bitacoras].[bitacora_publicacion]  WITH CHECK ADD  CONSTRAINT [ck_bitacora_publicacion_estado] CHECK  (([estado_publicacion]='eliminada' OR [estado_publicacion]='exitosa' OR [estado_publicacion]='fallida' OR [estado_publicacion]='pendiente_reintento'))
GO
ALTER TABLE [bitacoras].[bitacora_publicacion] CHECK CONSTRAINT [ck_bitacora_publicacion_estado]
GO
ALTER TABLE [bitacoras].[bitacora_publicacion]  WITH CHECK ADD  CONSTRAINT [ck_bitacora_publicacion_red_social] CHECK  (([tipo_red_social]='instagram' OR [tipo_red_social]='facebook'))
GO
ALTER TABLE [bitacoras].[bitacora_publicacion] CHECK CONSTRAINT [ck_bitacora_publicacion_red_social]
GO
ALTER TABLE [bitacoras].[bitacora_publicacion]  WITH CHECK ADD  CONSTRAINT [ck_bitacora_publicacion_tipo] CHECK  (([tipo_publicacion]='manual' OR [tipo_publicacion]='automatica'))
GO
ALTER TABLE [bitacoras].[bitacora_publicacion] CHECK CONSTRAINT [ck_bitacora_publicacion_tipo]
GO
ALTER TABLE [catalogos].[configuracion_sistema]  WITH CHECK ADD  CONSTRAINT [ck_configuracion_tipo] CHECK  (([tipo_valor]='hora' OR [tipo_valor]='booleano' OR [tipo_valor]='numero' OR [tipo_valor]='texto'))
GO
ALTER TABLE [catalogos].[configuracion_sistema] CHECK CONSTRAINT [ck_configuracion_tipo]
GO
ALTER TABLE [operacion].[correo_raw]  WITH CHECK ADD  CONSTRAINT [ck_correo_raw_estado] CHECK  (([estado_procesamiento]='error' OR [estado_procesamiento]='incompleto' OR [estado_procesamiento]='completo' OR [estado_procesamiento]='pendiente'))
GO
ALTER TABLE [operacion].[correo_raw] CHECK CONSTRAINT [ck_correo_raw_estado]
GO
ALTER TABLE [operacion].[persona_desaparecida]  WITH CHECK ADD  CONSTRAINT [ck_persona_desaparecida_edad] CHECK  (([edad_actual]>=(0) AND [edad_momento_desaparicion]>=(0)))
GO
ALTER TABLE [operacion].[persona_desaparecida] CHECK CONSTRAINT [ck_persona_desaparecida_edad]
GO
ALTER TABLE [operacion].[persona_desaparecida]  WITH CHECK ADD  CONSTRAINT [ck_persona_desaparecida_estado] CHECK  (([estado_procesamiento]='incompleto' OR [estado_procesamiento]='completo' OR [estado_procesamiento]='cese_difusion'))
GO
ALTER TABLE [operacion].[persona_desaparecida] CHECK CONSTRAINT [ck_persona_desaparecida_estado]
GO
USE [master]
GO
